/* MyForm.module.scss */
.login {
  .ant-form {
    .ant-input {
      background-color: transparent;
      color: white;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      &::placeholder {
        color: white;
        opacity: 0.7;
      }
    }

    .ant-input-affix-wrapper {
      border: 2px white solid;
      background-color: transparent;
      color: white;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    .tip {
      color: white;
      font-size: 18px;
      letter-spacing: 2px;

      .high-light {
        cursor: pointer;
        color: #add8e6;
        transition: all 0.3s ease;

        &:hover {
          color: yellow;
        }
      }
    }
  }
}
