.ant-form {
  // 自定义 antd 组件样式
  .ant-input {
    background-color: transparent !important;
    color: white;

    &:hover,
    &:focus {
      background-color: transparent !important;
    }
    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }

  .ant-input-affix-wrapper {
    border: 2px white solid;
    background-color: transparent !important;
    color: white;

    &:hover,
    &:focus {
      background-color: transparent !important;
    }
  }
  .tip {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    .high-light {
      cursor: pointer;
      color: #add8e6;
      transition: all 0.3s ease; /* 平滑过渡效果 */
      &:hover {
        color: yellow;
      }
    }
  }
}
